body {
    margin: 0;
    padding: 0;
}

.background1 {
    background-image: url(../assets/backgrounds/h_img.jpg);
    height: 100vh;
    text-align: center;
    padding-top: 40vh;
    color: white;
    font-size: 48px;

}

.mouse {
    padding-top: 13vh;
}
.about{
    font-family:'Quicksand', sans-serif;
    font-size: 20px;  
}

h2, h2{
    font-size: 2.5rem;
    }
.background2 {
    background-image: url(../assets/backgrounds/s_image.jpg);
    text-align: center;
    height: 50vh;
    color: white;
    font-family:'Quicksand', sans-serif;
    font-size: 30px;
    padding-top: 10px;
}
h3, h3{
font-size: 2.5rem;
}
h4, h4{
    font-size: 2.5rem;
    }
.background3 {
    background-image: url(../assets/backgrounds/c_image.jpg);
    text-align: center;
    color: white;
    height: 50vh;
    padding-top: 15px;

}
h5, h5{
    font-size: 2.5rem;
    }

#form {
    text-align: center;

}


#form img {
    width: 100%;
    padding: 2rem;

}

span {
    text-align: center;
}
h6, h6{
    font-size: 2.0rem;
    }

.icons {
    text-align: center;
}
.feature-showing{
    display: none;
}